{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Coffeed</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Genesis Blue</h1>
			<h2>We help create Genesis Blue Management Information Systems for Primary and Secondary schools and Academies </h2>

			<p>Genesis Blue MIS can help Primary/Secondary schools and Academies work more effectively and efficiently to meet the key challenges that are faced daily. This includes the ability to manage staff and student information to ensure that your school runs smoothly so that it achieves its full potential. </p>

			<p>Email us now for more information<a mailto:"info@genesisgroupuk.com">info@genesisgroupuk.com</a></p>

			<a href="https://twitter.com/genesisblueforschools" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/genesisblueforschools" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>